ul
    each week in news
        li
            h2= week.heading
            img(src= week.images[0] style={width: "480"})
            ul
                each singleNew in week.news
                    li
                        p= singleNew

    
    //- p= val.newDate
    //- h3= val.newHeader        
    //- img(src= val.newFeaturedImage)
    //- ul
    //-     each news in val.news
    //-         li
    //-             h4= news.topic
    //-             each description in news.items
    //-                 p= description
                